.navbar{
    background:#F97300;
   }
   .nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
   }
   .nav-link{
    margin-right: 1em !important;
   }
   .nav-link:hover{
    background: #f4f4f4;
    color: #f97300;
   }
   .navbar-collapse{
    justify-content: flex-end;
   }
   .navbar-toggler{
     background:#fff !important;
   }
   .bg-dark{
    background-color:#343a40!important
    }
    .bg-primary{
    background-color:#343a40!important
    }
   /*header style*/
.header{
    background-image: url('/static/img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
   }

.introduce{
    margin-left: 50px;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }